<h2>Brrrrrrr! Beware the freeze!  Don't let your pipes freeze this winter!</h2>

<p>
Enter your email and zipcode to receive alerts for the first freeze of the year.
<form>
	Zipcode: <input type="text" />
	Email: <input type="text" />
	<input type="button" onclick="alert('Not implemented yet'); return false;" value="Sign me up!" />
</form>
</p>

<p>Data provided by <a href="http://www.forecast.io">Forecast</a></p>