
<div class="row">
  <div class="small-12 columns">
    <div data-alert class="alert-box warning radius" id="errorMessage" style="display:none;"></div>
    <%= form_tag "/alert_subscription/subscribe", method: :post, "data-abide" => '', remote: true %>
      <fieldset>
        <legend>Enter your email and zipcode to receive alerts for the first freeze of the year</legend>
      <div class="row">
        <div class="small-3 columns">
      	  <label for="right-label" class="right inline">Zipcode</label>
        </div>
        <div class="small-9 columns">
          <input type="text" name="zip" placeholder="5 digit US Zip Codes only" required pattern="\d{5}"/>
          <small class="error">You must enter a valid 5 digit US Zip Code.</small>
        </div>
      </div>
      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Email</label>
        </div>
        <div class="small-9 columns">
          <input type="text" name="email" placeholder="someone@somewhere.com" required />
          <small class="error">Please enter a valid email address</small>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
        	<input type="submit" class="button postfix" value="Sign me up!" />
        </div>
      </div>
      </fieldset>
    </form>
  </div>
</div>

<div class="row">
  <div class="small-12 columns"><span id="currentTemp">If you're in <%= @loc.zip %>, it's currently: <%= @forecast['currently']['temperature'] %></span>&deg; F</div>
</div>
